@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Nova+Square&family=Playpen+Sans:wght@500&family=Titillium+Web:wght@300&display=swap');
/* Asterisk wildcard selector to override default styles added by the browser */


html {
    scroll-behavior: smooth;
}

/* Body style */
body {
    font-family: 'Titillium Web', sans-serif;
    background-color: #1E5050;
    margin: 0;
    padding: 0;
    font-size: 18px;
    overflow-x: hidden;


}


/* Site styles */
.site-inner {
    background-color: white;
    color: #099;
    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.site-name {
    font-size: 50px;
}

.site-nav {
    color: white;
    text-align: center;
}



.site-nav ul a {
    color: white;
}

.welcome {
    color: white;
    text-align: center;
    padding-top: 30px;
}



/* Footer style */
footer {
    background-color: white;
    height: 50px;
    margin-top: 600px;
    text-align: center;
}

/* Video style */
.vinyl {
    margin-top: -600px;
    margin-left: 490px;
}

.vinyl2 {
    margin-top: -600px;
    margin-left: 490px;
}

/* Menu styles */
#iced-coffee {
    color: white;
    margin-left: 100px;
}

.coffee-items {
    background: url("../images/pexels-miguel-á-padriñán-3391930.jpg")no-repeat center center/cover;
    position: relative;
    height: 400px;
    width: 400px;
    border-radius: 15px;
    color: white;
    padding-left: 100px;
    margin-left: 100px;
}


#hot-coffee {
    padding-left: 950px;
    color: white;
}



.hot-coffee-items {
    background: url("../images/pexels-anton-h-145707.jpg") no-repeat center center/cover;
    position: relative;
    height: 350px;
    width: 350px;
    border-radius: 10px;

}

#warm-sandwiches {
    margin-left: 150px;
    margin-top: 200px;
    color: white;

}

.sandwiches-items {
    background: url("../images/pexels-miguel-á-padriñán-3391930.jpg") no-repeat center center/cover;
    position: relative;
    height: 400px;
    width: 450px;
    border-radius: 15px;
}

#sweets {
    margin-left: 1000px;
    margin-top: 200px;
    color: white;


}

.sweets-items {
    background: url("../images/pexels-dids-1653090.jpg")no-repeat center center/cover;
    position: relative;
    height: 400px;
    width: 450px;
    border-radius: 15px;
}

/* About styles */
#about {
    text-align: center;
    color: white;
}

#reservation {
    text-align: center;
    color: white;
}

/* images styles */
.img {
    margin-left: 200px;
}

.img2 {
    margin-left: 1000px;
    margin-top: 200px;
}

.img3 {
    margin-left: 1000px;
    margin-top: 200px;
}

/* Media */
@media (max-width: 991px) {




    .img {
        display: none;
    }

    .img2 {
        display: none;
    }

    .img3 {
        display: none;
    }

    .vinyl,
    .vinyl2 {
        display: none;
    }

    .coffee-items {
        width: 150px;
        height: 190px;
        margin-left: -100px;
    }

    .hot-coffee-items {
        width: 150px;
        height: 160px;
    }

    #hot-options-coffee {
        margin-left: -800px;
    }


    #iced-coffee {
        margin-right: -1px;
    }

    #options-coffee {}

    .sandwiches-items {
        width: 150px;
        height: 190px;
    }

    .sweets-items {
        width: 150px;
        height: 190px;
    }

    #sweets-coffee {
        margin-left: -900px;
    }
}