@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Nova+Square&family=Playpen+Sans:wght@500&family=Titillium+Web:wght@300&display=swap');
/* Asterisk wildcard selector to override default styles added by the browser */


html {
    scroll-behavior: smooth;
}


body {
    font-family: 'Titillium Web', sans-serif;
    background-color: #1E5050;
    margin: 0;
    padding: 0;
    font-size: 18px;
    overflow-x: hidden;


}



.site-inner {
    background-color: white;
    color: #099;
    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.site-name {
    font-size: 50px;
}

.site-nav {
    color: white;
    text-align: center;
}

.site-nav ul li {}

.site-nav ul a {
    color: white;
}

.welcome {
    color: white;
    text-align: center;
    padding-top: 30px;
}




footer {
    background-color: white;
    height: 50px;
    margin-top: 600px;
    text-align: center;
}

.vinyl {
    margin-top: -600px;
    margin-left: 600px;
}


#iced-coffee {
    color: white;
    margin-left: 100px;
}

.coffee-items {
    background: url("../images/pexels-miguel-á-padriñán-3391930.jpg")no-repeat center center/cover;
    position: relative;
    height: 400px;
    width: 400px;
    border-radius: 10px;
    color: white;
    padding-left: 100px;
    margin-left: 100px:
}


#hot-coffee {
    padding-left: 950px;
    color: white
}



.hot-coffee-items {
    background: url("../images/pexels-anton-h-145707.jpg") no-repeat center center/cover;
    position: relative;
    height: 350px;
    width: 350px;
    border-radius: 10px;

}

#warm-sandwiches {
    height: 100px;
    margin-left: 2px;
    color: white;
}

#sweets {
    height: 100px;
    margin-top: 100px;
    color: white;

}


#about {
    text-align: center;
    color: white;
}